#title {
  text-align: center;
  background-color: antiquewhite;
  margin: 0;
  padding: 1rem;
}

.category_item {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.content_item {
  font-size: 18px;
  margin: 2rem;
}
